@media screen and (max-width: 1400px) {
    #search {
        width: 20%;
    }

    #search h1 {
        font-size: 40px;
        letter-spacing: 1pt;
    }

    #submit {
        margin-top: 20px;
    }

    #map {
        width: 80%;
    }

    #songkick {
        margin-top: 175px;
    }
}

@media screen and (max-width: 1024px) {
    section {
        flex-direction: column;
        height: 100%;
    }

    #search {
        padding: 0;
        background-image: linear-gradient(to right, #58595b, #f75641);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #search h1 {
        font-size: 28px;
    }

    #rodemap {
        order: 1;
        flex: 1 1 1024px;
        text-align: center;
        margin-bottom: 0;
    }

    #rodemap h4 {
        display: none;
        visibility: hidden;
        z-index: -1;
    }

    #input-fields {
        order: 3;
        flex: 1 1 1024px;
    }

    #songkick {
        order: 2;
        flex: 1 1 1024px;
    }

    #songkick img {
        display: inline;
        visibility: visible;
        height: 25px;
        width: 25px;
    }

    #songkick p {
        display: inline;
        margin-left: 15px;
        font-size: 10px;
        position: relative;
        bottom: 8px;
    }

    #input-fields, #songkick {
        padding: 0;
        margin-top: 0;
    }

    input {
        display: inline;
        width: 45%;
        text-align: left;
    }

    ::placeholder {
        text-align: left;
    }

    #submit {
        margin-left: 20px;
    }

    #expand {
        margin-top: 25px;
        margin-bottom: 25px;
        order: 4;
        display: block;
        visibility: visible;
        width: 100%;
    }

    #expand-btn {
        display: block;
        visibility: visible;
        margin: 0 auto;
        border: none;
        background-color: transparent;
        color: white;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        font-family: 'Barlow', sans-serif;
        cursor: pointer;
    }

    #search-history {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
        order: 5;
    }

    #search-history h5, #clear-artists {
        display: inline;
    }

    #map {
        width: 100%;
        height: 100%;
    }

    #footer {
        background-image: linear-gradient(to right, #58595b, #f75641);
        display: flex;
        visibility: visible;
        width: 100%;
    }
}