html, body {
  font-family: 'Barlow', sans-serif;
  color: white;
  letter-spacing: 1px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.expanded {
  margin: 0 auto;
  display: block;
  visibility: visible;
}

.condensed {
  display: none;
  visibility: hidden;
}

main, section {
  height: 100%;
}

#search {
  text-align: center;
  width: 15%;
}

input {
  display: block;
  margin: 0 auto;
  width: 75%;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
  text-align: center;
}

::placeholder {
  text-align: center;
}

#submit {
  outline: none;
  margin-top: 25px;
  font-size: 12px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

#expand {
  display: none;
  visibility: hidden;
}

#artist-buttons button {
  margin: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: 'Barlow', sans-serif;
}

#clear-artists {
  outline: none;
  margin-top: 5px;
  font-size: 10px;
}

#map {
  color: black;
  text-align: center;
  width: 85%;
}

#map h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 6px;
}

#map h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 6px;
}

#map h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 6px;
}

#map a {
  font-size: 12px;
  font-weight: bolder;
  color: #ef4444;
  margin: 6px;
  margin-top: 15px;
}

#songkick img {
  margin: 0 auto;
}

#songkick p {
  font-size: 12px;
}